@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #252424;
  background: #ffff
}

.search-shadow:hover {
  box-shadow: 0px 0px 40px rgba(25, 91, 223, 0.4), 0px 0px 8px rgba(56, 70, 77, 0.25);
  transition: box-shadow 0.3s;
}

.search-shadow:focus-within,
.search-shadow:active {
  border-color: #195bdf;
}